@tailwind base;
@tailwind components;
@tailwind utilities;

.minimized {
  cursor: pointer;

}
.minimized:hover {
  border: 1px solid yellow;
}
/* увеличенная картинка */
#magnify {
  display: none;
  position: fixed;

  z-index: 9999;
}
#magnify img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 800px;
  border-radius: 16px;
}
/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center;
  background-size: 15px 15px;
  display: block;
}

