{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/metaphor.ico' %}?ver=2"/>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet"/>
    <title>Страница не найдена</title>
</head>
<body>
<h1 class="object-center">404</h1>
<h3 class="object-center"><a href="/">Вернуться на главную</a></h3>

</body>
</html>