{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/metaphor.ico' %}?ver=2"/>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet"/>
    <title>Добавь свою метафору</title>
</head>





<!-- Section 1 -->
<body class="w-full px-8 py-16 bg-blue-100 xl:px-8 ">
    <div class="max-w-5xl mx-auto flex justify-center" >


            <div class="w-full mt-16 md:mt-0 md:w-2/5">
                <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                    <h3 class="mb-6 text-2xl font-medium text-center">Добавь свою метафору</h3>
                    {% block content %}
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="name" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder='Название метафоры' maxlength="250" required="" id="id_name">
                        <input type="file" name="image" class="input-file absolute overflow-hidden" style="z-index: -1; width: 0.1px ; height: 0.1px; opacity: 0" data-multiple-caption="{count} file selected" required="" id="id_image">
                        <label style="display: block;cursor: pointer; background-color:blue; color:white; padding:15px 30px; margin-bottom:6px; text-align: center; border-radius: 0.5rem;" for="id_image"><span class="text-lg">Выберите файл</span></label>

                        <button type="submit" class="btn btn-success text-lg w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg mt-4">Добавить метафору</button>
                      </form>
                    {% endblock %}

                    <p class="w-full mt-4 text-base text-center text-gray-500"><a href="/" class="text-blue-500 underline">Вернуться на главную страницу</a></p>
                </div>
            <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                <h1 class="text-2xl">Читай как быстро придумать нужную метафору</h1>
                <a href="https://medium.com/smysloteka/%D0%BA%D0%B0%D0%BA-%D0%BD%D0%B0%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-%D1%87%D1%82%D0%BE-%D1%83%D0%B3%D0%BE%D0%B4%D0%BD%D0%BE-%D1%80%D0%B8%D1%81%D1%83%D0%B5%D0%BC-%D0%BF%D0%BE-%D0%B0%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC%D1%83-%D1%80%D0%B5%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%B8-%D0%B0%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BD%D1%8B%D0%B5-%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%B8%D1%8F-db713eca6344" ><button type="btn" class="mt-8 form-control btn btn-success rounded-lg py-3 bg-purple-500 text-center text-lg text-semibold text-white w-full">Читать</button></a>

            </div>

            </div>

        </div>

</body>


<script>
    const regex = /^[?@!,-_+$&%#^()*.а-яА-ЯёЁ0-9\s]+$/;
    function validate(e) {
      const chars = e.target.value.split('');
      const char = chars.pop();
      if (!regex.test(char)) {
        e.target.value = chars.join('');
        console.log(`${char} is not a valid character.`);
      }
    }
    document.querySelector('#id_name').addEventListener('input', validate);

    var inputs = document.querySelectorAll( '.input-file' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		if( fileName )
			label.querySelector( 'span' ).innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});
</script>






</html>

