{% if object_list %}
                    <div id="replaceable-content">
                        <div id="anchor03" class="flex grid grid-cols-12 pb-10 sm:px-5 gap-x-10 gap-y-12" >
                        {% for metaphors in object_list %}
                                    {% if metaphors.en_name %}
                                    <div class="flex flex-col items-center col-span-12 space-y-3 sm:col-span-6 xl:col-span-4 rounded-lg bg-white">

                                            <img class="minimized object-cover w-full md:w-full overflow-hidden rounded-t-lg shadow h-56" src="{{ metaphors.image.url}}" alt="{{ metaphors.en_name}}">


                                        <h2 class="text-lg font-semibold sm:text-xl md:text-2xl pb-2 text-purple-900">{{ metaphors.en_name }}</h2>

                                    </div>
                                    {% endif %}
                        {% endfor %}
                        </div>
                    </div>
{% else %}
    <div id="anchor03" class="max-w-lg mx-auto mt-6 text-sm text-center text-indigo-100 md:mt-12 sm:text-base md:max-w-xl md:text-lg xl:text-xl">No metaphors with this name were found. Try entering a different name</div>

{% endif %}
